main {
	display: flex;
	justify-self: space-between;

	margin: 16px;
	gap: 16px;
}
.sidebar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background-color: transparent;

	z-index: 1;
}

.open-orders-sidebar {
	position: absolute;
	top: 0;
	right: 0;

	background-color: #a0a0a0;

	width: 65%;
	height: 100%;

	display: flex;
	flex-direction: column;

	z-index: 2;
}

.open-orders-sidebar > h3 {
	font-size: 1.5rem;
	margin: 16px;
}

.open-order-list {
	margin: 16px;
}

.order-detail {
	border: 1px solid black;
	display: flex;

	flex-direction: column;
	position: relative;
}

.order-detail > .action-btn {
	margin: 8px;
	justify-self: flex-end;

	position: absolute;
	top: 0;
	right: 0;

	width: 10%;
}

.order-detail > p {
	margin: 8px;
	font-size: small;
}

.order-item-list {
	margin: 8px;
}

.order-item {
	margin: 8px;
	text-transform: capitalize;
}

.order-item > span {
	margin-right: 8px;
}

.action-buttons {
	display: flex;
	justify-content: flex-end;
}